/* Reset and basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

h4 {
  color: rgb(0, 0, 0);
}

h3 {
  color: black;
}

/* Card component styling */
.card {
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: white;
  color: black;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
  text-align: center;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 24px;
}

.card-body {
  padding: 20px;
}

.card-body h3 {
  margin-bottom: 10px; /* Increased margin for better separation */
  font-size: 20px; /* Adjusted font size for smaller screens */
}

.card-body h4 {
  margin-top: 10px; /* Increased margin for better spacing */
  font-size: 18px; /* Adjusted font size for smaller screens */
}

.card-body form {
  margin-top: 20px; /* Increased margin for better spacing */
}

.card-body .borrow-button {
  background-color: bisque;
  color: black;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.card-body .borrow-button:hover {
  background-color: white;
}

.card-body h4[style="color: red;"] {
  margin-top: 15px; /* Increased margin for better spacing */
  font-size: 18px; /* Adjusted font size for smaller screens */
}

@media (max-width: 600px) {
  .card-header,
  .card-body {
    padding: 15px;
  }
}

.vr {
  text-align: center;
}
